<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945916909014-0g1arrgov2m6aan4p2e5iuljd5b86fuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945916909014-0g1arrgov2m6aan4p2e5iuljd5b86fuc</string>
	<key>API_KEY</key>
	<string>AIzaSyCQpyIKs8Z47f8DFL0C8nrIQOZyJWSQtmI</string>
	<key>GCM_SENDER_ID</key>
	<string>945916909014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutterapplication-ccc77</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapplication-ccc77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945916909014:ios:1699a824d6fc44f767c077</string>
</dict>
</plist>